{% if app.request.locale == "ar" %}
    {% set locale = "en" %}
{% else %}
    {% set locale = app.request.locale %}
{% endif %}

<!DOCTYPE html>
<html lang="{% if app.request.locale == "ar" %}en{% else %}{{ app.request.locale }}{% endif %}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>offline ticket</title>
    <style>
        /* Add your styles here */
        body {
            margin: 0 auto;
            padding: 0;
            font-family: Arial, sans-serif;
            background-color: black;
            color: white;
            text-align: center;
        }

        .container {
            width: 100%;
            max-width: 475px;
            margin: auto;
            padding: 22px;
        }

        .logo {
            text-align: center;
            font-size: 33px;
            font-weight: 900;
            margin-bottom: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }

        .logo img {
            width: 30px;
            height: 30px;
            object-fit: cover;
        }

        .ticket-details {
            font-family: 'Nunito Sans', sans-serif;
            font-weight: 300;
            font-size: 16px;
            padding-bottom: 30px;
        
        }

        .event-name {
            font-family: 'Fraunces', serif;
            font-weight: 600;
            font-size: 20px;
            line-height: 35px;
            padding-bottom: 60px;
        }

        .event-time {
            font-size: 16px;
            padding: 0px 75px;
            padding-bottom: 0px;
            border-bottom: 1px solid rgba(174, 168, 168, 0.709);
            padding-bottom: 11px;
            margin-bottom: 10px;
            width: 40%;
            margin-left: auto;
            margin-right: auto;
        }

        .ticket-image {
            background: transparent url('{{ asset('assets/pdf-icon/ticket-image.png') }}') no-repeat;
            background-size: cover;
            background-position: center;
            opacity: 1;
            width: 100%;
            height: 493px;
            position: relative;
        }

        .ticket-date {
            background-color: #3e7cf7;
            border-radius: 25px;
            cursor: pointer;
            box-shadow: #3e7cf7 0px 4px 14px;
            font-size: 20px;
            padding: 13px 20px;
            margin-top: 20px;
            margin-bottom: 20px;
            width: 170px;
            margin-left: auto;
            margin-right: auto;
        }

        .ticket-info-container{
            margin-bottom: 30px;
        }

        .ticket-info-container::after {
            content: "";
            clear: both;
            display: table;
        }

        .ticket-info {
            float: left;
            width: 150px;
            height: 70px;
        }

        .ticket-info p {
            font-style: italic;
            color: #808080;
            font-size: 12px;
            padding-bottom: 10px;
        }

        .ticket-type {
            font-size: 10px;
            font-weight: 800;
        }

        .link-online {
            font-size: 23px;
            padding-bottom: 20px;
        }

        .online-link {
            font-size: 13px;
            color: #d2cfd7;
            margin-top: 20px;
        }

        .join-button {
            background-color: #3e7cf7;
            color: white;
            text-decoration: none;
            font-size: 17px;
            padding: 10px 20px;
            border-radius: 5px;
            display: block;
            margin-top: 20px;
            font-weight: 700;
            width:80px;
            margin-left: auto;
            margin-right: auto;

        }

        .ticket-number {
            font-size: 12px;
            padding-top: 50px;
            font-weight: 700;
        }
        .ticket-footer{
            margin-top: 130px;
        }
        .ticket-footer small{
            font-size: 10px;
            
        }
        .qr-barcode-wrapper{
            background-color: white;
            margin: 0 auto;
            margin-top: 30px;
            padding: 10px;
            width: 105px;
            
        }
    </style>
</head>

<body>

    {% for orderElement in order.orderelements if (eventDateTicketReference == "all" or eventDateTicketReference == orderElement.eventticket.reference)  %}
    {% for ticket in orderElement.tickets %}
    <div class="container">
        <div class="logo">

            {{ orderElement.eventticket.eventdate.event.translate(locale).name }}
 
        </div>
        <div class="ticket-details">
            {{ "Order"|trans({}, "messages", locale) }} #{{ order.reference }}
        </div>
        <div class="ticket-details">
            ORGANIZER
        </div>
        <div class="event-name">
           {{ orderElement.eventticket.eventdate.event.organizer.name }}
        </div>
        <div class="event-time">
            BEGINS {{ orderElement.eventticket.eventdate.startdate|date('g:i A') }}
        </div>
        <div class="event-online">
            
            {% if orderElement.eventticket.eventdate.venue %}
                ON-SITE
            {% else %}
                ONLINE
            {% endif %}
        </div>
        
        <div class="ticket-date">
            {{ orderElement.eventticket.eventdate.startdate|date('F j / Y') }}
        </div>
        
        <div class="ticket-info-container">
            <div style="border-bottom: 1px solid rgba(174, 168, 168, 0.709); margin-bottom: 35px;"></div>
            <div>
                <h4> 
                {{ order.user.getCrossRoleName }}
                    {% if order.user.hasRole("ROLE_POINTOFSALE") and order.payment.firstname and order.payment.lastname %}
                        ({{ order.payment.firstname ~ " " ~ order.payment.lastname }})
                    {% endif %}
                </h4>
            </div>
            <div class="ticket-info" style="border-right: 1px solid white;">
                <p>TICKET TYPE</p>
                <div class="ticket-type">{{ orderElement.eventticket.name }}</div>
            </div>
            <div class="ticket-info" style="border-right: 1px solid white;">
                <p>ORDER DATE</p>
                <div class="ticket-type order-date">
                     {{  order.createdAt|date('F j / Y') }}
                </div>
            </div>
            <div class="ticket-info">
                <p>TICKET PRICE</p>
                <div class="ticket-type ticket-price">
                    {{ orderElement.eventticket.free ? "FREE"|trans({}, "messages", locale) : ((services.getSetting('currency_position') == 'left' ? services.getSetting('currency_symbol') : '') ~ orderElement.displayUnitPrice() ~ (services.getSetting('currency_position') == 'right' ? services.getSetting('currency_symbol') : '')) }}
                </div>
            </div>
        </div>
        <div class="link-online">
            LINK ONLINE
        </div>
        {% if orderElement.eventticket.eventdate.venue %}
            
            <div class="vanue-location">
                <h3>ADDRESS</h3>
                {{ orderElement.eventticket.eventdate.venue.translate(locale).name }}{{orderElement.eventticket.eventdate.venue.translate(locale).name }}
            </div>
            <div class="vanue-qr-code">
                <div class="qr-barcode-wrapper">
                        {{ barcode({code: ticket.reference, type: 'qrcode', format: 'html'}) }}
                    </div>
                    <small>SCAN HERE</small>
            </div>

            <style>
            .ticket-number{
                padding-top: 20px !important;
            }
            .ticket-footer{
                margin-top: 10px !important;
            }
            </style>
        {% else %}
            {% if link is not empty %}
               <a href="{{ link|trans({}, "messages", locale) }}" class="join-button" target="_blank">JOIN</a>
            {% endif %}
        {% endif %}
        
        <div class="ticket-number">
            {{ "Ticket"|trans({}, "messages", locale) }} #{{ ticket.reference }}
        </div>

        <div class="ticket-footer">
            <small>https://www.keos.co/Keos - Event Management And Ticket Sales</small>
        </div>
    </div>
    {% endfor %}
    {% endfor %}
</body>

</html>
